/* @import '../../stylesheet/var.css'; */

.darkmode {
  display: flex;
  justify-content: center;
}

.darkmode .dark {
  background-color: var(--secondary-text-color);
}
.darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

.darkmode .label {
  width: 39px;
  height: 20px;
  background-image: linear-gradient(30deg, rgb(46, 49, 46), rgb(35, 39, 35), rgb(20, 19, 19), rgb(27, 25, 25));
  /* background-color: var(--accent-bcg-color); */
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.labelDark {
  width: 39px;
  height: 20px;
  background-color: var(--amount-incomes-text-color);
  display: flex;
  border: 1px solid white;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.darkmode .ball {
  width: 24px;
  height: 24px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 6px 15px rgba(117, 117, 117, 0.5);
  left: 0;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.darkmode .checkbox:checked + .label .ball {
  transform: translateX(20px);
}
