.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  padding: 13px 0 13px 0;
  border-radius: 20px;
  cursor: pointer;

  font-size: 18px;
  font-weight: 400;
  line-height: 26.53px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.btnAdd {
  margin: 2em auto;
  border: 1px solid var(--accent-btn-color);
  color: var(--light-text-color);
  background-color: var(--accent-btn-color);
}
.btnAdd:focus,
.btnAdd:hover {
  border-color: var(--accent-btn-color);
  color: var(--amount-incomes-text-color);
  background-color: var(--btn-color);
}
.title {
  font-family: var(--logo__font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
