/** @format */

.header {
  z-index: 1;
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 15px rgb(238, 238, 238);
}
.headerDark {
  z-index: 2;
  background-color: var(--main-bcg-color);
  height: 60px;
  width: 100%;
}
.headerContainer {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .headerDark {
    height: 80px;
  }
  .headerContainer {
    align-items: center;
  }
}
