
.currency {
  position: relative;
  max-width: 480px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 30px;
  color: var(--light-text-color);
  background-color: var(--accent-bcg-color);
  background-image: url('../../images/Currency/currency_mob.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media screen and (min-width: 768px) {
  .currency {
    width: 334px;
    background-image: url('../../images/Currency/currency_tab.png');
  }
}

@media screen and (min-width: 1280px) {
  .currency {
    width: 348px;
    background-image: url('../../images/Currency/currency_desk.png');
    margin-top: 30px;
  }
}
