.buttonAdd {
  position: sticky;
  bottom: 2%;
  left: 96%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #24cca7;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

.switch__marker {
  position: relative;
  background-color: #24cca7;
  background-image: url('../../images/modal-transaction/income.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  transition: transform 250ms linear;
}

.buttonIcon {
  color: #fff;
  cursor: pointer;
}

.buttonAdd:hover,
.buttonAdd:focus {
  transform: scale(1.2);
}

.buttonAdd:hover {
  cursor: pointer;
  background-color: #0fbc96;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.75);
}

@media screen and (min-width: 1280px) {
  .buttonAdd {
    position: absolute;
    bottom: 5%;
    left: 99%;
  }
}
